@use "sass:map";
@use "sass:list";

@use "../abstracts/type" as *;
@use "../abstracts/util" as *;
@use "../vars/vars" as *;
$const-fonts: () !default;

@mixin buildBase {
  direction: ltr;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  unicode-bidi: normal;
  writing-mode: horizontal-tb;
  
  -webkit-text-fill-color: currentColor;
  -webkit-text-stroke-color: currentColor;
  -webkit-tap-highlight-color: currentColor;
  caret-color: currentColor;
  color: currentColor;

  font-family: $v-fontFamily;
  font-weight: $v-fontWeight;
  font-style: $v-fontStyle;

  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: none;

  font-synthesis: none;
  font-variant: normal;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-variation-settings: normal;
  font-size-adjust: none;
  font-language-override: normal;
  font-stretch: normal;
  
  text-align: start;
  text-align-last: auto;
  text-orientation: mixed;
  text-justify: inter-word;
  
  overflow: auto;
  text-overflow: ellipsis;
  white-space: normal;
  white-space-collapse: collapse;
  
  line-clamp: none;
  overflow-wrap: break-word;
  text-wrap: wrap pretty;
  
  line-break: auto;
  word-break: break-word;
  word-spacing: normal;
  
  hyphens: auto;
  hyphenate-character: "-";
  hyphenate-limit-chars: 5;
  
  tab-size: 8;
  text-indent: 0;

  text-decoration: none solid auto;
  text-decoration-color: currentColor;
  text-decoration-skip-ink: all;
  text-decoration-skip: objects;
  text-underline-offset: auto;
  text-underline-position: from-font;

  text-emphasis: none;
  text-emphasis-color: currentColor;
  text-emphasis-position: over right;
}

@mixin buildInheritance {
  direction: ltr;
  -webkit-font-smoothing: inherit;
  font-smooth: inherit;
  text-rendering: inherit;
  unicode-bidi: inherit;
  writing-mode: inherit;
  
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke-color: inherit;
  -webkit-tap-highlight-color: inherit;
  caret-color: inherit;
  color: inherit;

  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;

  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;

  font-synthesis: inherit;
  font-variant: inherit;
  font-feature-settings: inherit;
  font-kerning: inherit;
  font-optical-sizing: inherit;
  font-variation-settings: inherit;
  font-size-adjust: inherit;
  font-language-override: inherit;
  font-stretch: inherit;
  
  text-align: inherit;
  text-align-last: inherit;
  text-orientation: inherit;
  text-justify: inherit;
  
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
  white-space-collapse: inherit;
  
  line-clamp: inherit;
  overflow-wrap: inherit;
  text-wrap: inherit;
  
  line-break: inherit;
  word-break: inherit;
  word-spacing: inherit;
  
  hyphens: inherit;
  hyphenate-character: inherit;
  hyphenate-limit-chars: inherit;
  
  tab-size: inherit;
  text-indent: inherit;

  text-decoration: inherit;
  text-decoration-color: inherit;
  text-decoration-skip-ink: inherit;
  text-decoration-skip: inherit;
  text-underline-offset: inherit;
  text-underline-position: inherit;

  text-emphasis: inherit;
  text-emphasis-color: inherit;
  text-emphasis-position: inherit;
}

@mixin buildProse {
  & .rmf-prose {
    overflow: visible;
    width: 100%;
    display: grid;
    place-items: start stretch;
    color: inherit;

    & * {
      @include transparent;
      color: inherit;
      
      overflow-inline: visible;
      display: block;
      padding-top: $calc_lineOffsetTop;
      padding-bottom: $calc_lineOffsetBottom;

      margin-bottom: $calc_fontOffsetBottom;
      translate: 0 $calc_fontOffsetTop;

      font-size: $calc_fontSize;
      line-height: $calc_lineHeight;
      letter-spacing: $calc_letterSpacing;
      text-transform: none;
    }

    &.unpadded {
      & * {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &.legacy {
      & * {
        padding-top: 0;
        padding-bottom: 0;

        margin-bottom: 0;
        translate: 0;
      }
    }
  }
}

@mixin buildFonts {
  @each $_font, $_metrics in $const-fonts {
    --#{$_font}-font-family: #{map.get($_metrics, family)};
    --#{$_font}-font-weight: #{map.get($_metrics, weight)};
    --#{$_font}-font-style: #{map.get($_metrics, style)};

    --#{$_font}-fm-ascent: #{map.get($_metrics, ascent)};
    --#{$_font}-fm-cap-height: #{map.get($_metrics, cap-height)};
    --#{$_font}-fm-ex-height: #{map.get($_metrics, ex-height)};
    --#{$_font}-fm-descent: #{map.get($_metrics, descent)};
    --#{$_font}-fm-line-gap: #{map.get($_metrics, line-gap)};
    --#{$_font}-fm-size: #{map.get($_metrics, size)};
  }

  $_firstFont: list.nth(map.keys($const-fonts), 1);

  @include useFontFace($_firstFont);
}
