@use "tokens/tokens" as *;

@use "../../../src/assets/scss/global/reset";
@use "../../../src/assets/scss/global/type" with (
    $const-fonts: $const-fonts
);
@use "../../../src/assets/scss/global/aspect" with (
    $const-aspects: $const-aspects
);
@use "../../../src/assets/scss/global/theme" with (
    $const-themes: $const-themes
);

:root {
    @include aspect.buildAspects;
    @include theme.buildThemes;
    @include type.buildProse;
    @include type.buildFonts;
}

$svg: "a, clipPath, filter, foreignObject, image, marker, mask, path, pattern, script, style, switch, text, view";

:where([data-rms]) {
    &, & *:not(#{$svg}) {
        &, &::before, &::after, &::backdrop {
            @include reset.buildResetBase;
            @include reset.buildResetHidden;
        }
    }
    *:not(#{$svg}) {
        @include type.buildBase;
    }
    & * {
        @include type.buildInheritance;
    }
}
